services:
  # redis:
  #   image: redis:alpine
  #   ports:
  #     - "6379:6379"
  #   volumes:
  #     - redis_data:/data
  backend:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    # depends_on:
    #   - redis

# volumes:
#   redis_data:
